<div class="fundo">
  <mat-drawer-container class="example-container">
    <mat-drawer class="menu-lateral" mode="side" opened>
      <app-menu-lateral #menuLateral (atualizar)="calcular()" (fazBusca)="fazerBusca()"></app-menu-lateral>
    </mat-drawer>
    <mat-drawer-content>
      <app-painel-central #painelCentral></app-painel-central>
    </mat-drawer-content>
  </mat-drawer-container>


  <ng-container *ngIf="this.grid.puzzle.rodando">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
